/* Shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-decription {
    color: #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* nev Styles are hare */
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 200px;
}

.nev-title {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;

}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

.btn-primary {
    color: #ffffff;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 15px 35px;
}

/* header Styles*/
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 500px;
}

.banner-contant {
    max-width: 500px;
}

.banner-griting {
    font-size: 45px;
    color: #474747;
    margin: 0;
}

.banner-title {
    margin-top: 5px;
    font-size: 85px;
    margin-bottom: 0;
}

.banner-decription {
    margin-top: 5px;
}

/* main section*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about Sections*/
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 24px
}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-decriptions {
    color: #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/*What i do section */

#what-i-do-decription {
    padding: 30px 150px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.resume-item-institute,
.resume-item-decription {
    color: #757575;
}

.download-cv {
    text-align: center;
}

.resume-container hr {
    margin: 30px;
}

/* Footer style*/

footer {
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
    gap: 100px;
}

.footer-item {
    width: 50%;
}
.socail-link a{
    margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: 0;
    width: 100%;

}